/*********************************  AMBIENTE 1 ***************************/
.dialogsCss1{
    background-color: #FAFAFA;
    /* border-top-left-radius: 25%;
    border-bottom-right-radius: 25%; */
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.dialogsCss1:hover{
    border-color: #0d0c1d;
    border-width: 5px;
}

.dialogsButtonCloseCss1{
    color:black;
    font-family: verdana;
    font-weight:bold;
    font-size:20px;
}

.dialogsButtonCloseCss1:hover{
    cursor: pointer;
    color:red;
}

.dialogsTitleCss1{
    color:black;
    font-weight:bold;
    font-family:verdana;
    font-size:18px;
    font-weight:bold;    
    cursor:move;
}

.dialogsMessageCss1{
    font-family:verdana;
    font-size:12px;
    font-weight:bold;    
}


/*********************************  DialogsLogin  ***************************/
.dialogsLoginCss1{
    background-color: #FAFAFA;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%; 
}
.dialogsAdmiCss1{
    background-color: red;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%; 
}