/******************************* AMBIENTE 1 ********************************/
.imgButtonsCss1{

    background-color: #0d0c1d;
    width: 120px;
    height:30px;
    outline: none;
    color: white;
    font-size:12px;
    font-weight:bold;
    border-radius: 15px;
}
.imgButtonCaptionCss1:hover{
    color: white;
}
/****************************AMBIENTE 2************************************************/
